# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# Virtual environment
venv/
env/

# Environment variables
.env

# Node
node_modules/

# React build files
build/

# OS files
.DS_Store
Thumbs.db